body {
    font-family: Papyrus, fantasy;
    background-image: url("../images/windows-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.needsBG {
    border: 2px solid #bbbdbf;
    background-color: rgba(223, 230, 224, 0.5);
    margin: 15px auto 20px;
    text-align: center;
    padding: 7px;
    width: fit-content;
}

.stat {
    font-size: xx-large;
    color: greenyellow;
}

.statTitle {
    text-decoration: underline;
}

.button {
    border: 5px solid #b6cb83;
    border-radius: 30px;
    background-color: rgba(223, 230, 224, 0.8);
    font-size: x-large;
    margin: 10px auto;
    display: block;
    padding: 7px 10px;
}

@keyframes move-sprite {
    0% {left: 0px;}
    25% {left: 100px;}
    50% {left: 0px;}
    75% {left: -100px;}
    100% {left: 0px;}
}

#character {
    margin: 100px auto 25px;
    display: block;
    width: 100px;
    position: relative;
    animation-name: move-sprite;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#character-name {
    border: 2px solid #bbbdbf;
    background-color: rgba(223, 230, 224, 0.5);
    margin: 10px auto 15px;
    text-align: center;
    padding: 2px;
    width: fit-content;
}

#stats-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#age {
    color: magenta
}